.auth-wallet-connect-button {
  width: 20rem !important;
  margin: auto;
}

.auth-welcome-card div,
.auth-welcome-card p {
  text-shadow: -1px -1px 0 #26120f, 1px -1px 0 #26120f, -1px 1px 0 #26120f,
    1px 1px 0 #26120f, -1px 0 0 #26120f, 1px 0 0 #26120f, 0 -1px 0 #26120f,
    0 1px 0 #26120f !important;
  text-transform: uppercase;
}

.auth-welcome-card p {
    margin-bottom: 0;
}

.auth-welcome-card {
    margin-bottom: 1rem;
}