.inventory-dialog .layout {
  display: grid;
  grid-template-columns: 10rem 30rem;
  grid-template-rows: 100% 100%;
  max-height: 30rem;
  min-height: 30rem;
  gap: 1rem;
}

.inventory-dialog .info-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  -o-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAApklEQVQ4jWNkgAJ7DaP/DCSAgzfOMTIwMDAwwjSvXlNBin6G0JAOhoM3zjEywjSznN1GkgF/jL0YQkM6GFgYGBhQNLfNu4lXY1WSOgOyHhZkybZ5NxlcDMTxGtA27ybcEAYGBgYmZElCmrGpYcKhjmgwagCaAUapUQQ1oKtBSQcsZ7cRNAQ9xTLCMtH6Sj2CtiODwPZLEAMYGEjPiTBw8MY5RooDEQBeui3fWIO6NwAAAABJRU5ErkJggg==)
    6 repeat;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAApklEQVQ4jWNkgAJ7DaP/DCSAgzfOMTIwMDAwwjSvXlNBin6G0JAOhoM3zjEywjSznN1GkgF/jL0YQkM6GFgYGBhQNLfNu4lXY1WSOgOyHhZkybZ5NxlcDMTxGtA27ybcEAYGBgYmZElCmrGpYcKhjmgwagCaAUapUQQ1oKtBSQcsZ7cRNAQ9xTLCMtH6Sj2CtiODwPZLEAMYGEjPiTBw8MY5RooDEQBeui3fWIO6NwAAAABJRU5ErkJggg==)
    6 fill repeat;
  border-image-width: 1rem;
  height: 100%;
}

.inventory-dialog .info-row .button {
  height: 3rem;
  min-height: 2rem;
  width: 75%;
}

.inventory-dialog .info-row .first {
  margin-top: 1rem;
}

.inventory-dialog .seed-row {
  max-height: 100%;
  -o-border-image: var(--primary-bg) 6 repeat;
  border-image: var(--primary-bg) 6 fill repeat;
  border-image-width: 1rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.inventory-dialog .seed-row-wrapper {
  margin-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.75rem;
  width: 90%;
  max-height: 90%;
  height: auto;
}

.inventory-dialog .seed-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem;
  width: 100%;
}
