.referral-dialog {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.margin-bottom-1rem{
  margin-bottom: 1rem;
}

.sponsor-box {
  padding: 1rem;
}

.your-referral-code {
  padding: 1rem;
}

.share-code {
  cursor: pointer;
  transition: all 0.1s linear;
}

.share-code:hover {
  transform: scale(1.05);
}

.level-low-warning {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register-referral-wrapper {
  width: 90%;
  margin: auto;
  /* margin-top: 0.5rem; */
  height: 5rem;
  display: flex;
  align-items: center;
}
