.card-view {
  min-height: 4rem;
  height: auto;
  width: 100%;
  position: relative;
  background: var(--primary-dlg-bg);
  border-radius: 11px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}