.sell-confirm-dialog {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.sell-confirm-dialog .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sell-confirm-dialog .row .input {
  width: 70%;
  height: 3rem;
}

.sell-confirm-dialog .row .slider {
  width: 70%;
}

.sell-confirm-dialog .count-label {
  margin-top: -1.25rem;
  text-align: right;
}
