.token-input-row {
    position: relative;
    height: 5rem;
    gap: .5rem;
    cursor: pointer;
    -o-border-image: var(--primary-bg) 6 repeat;
    border-image: var(--primary-bg) 6 fill repeat;
    border-image-width: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}