.item-combination-description {
  padding: 0.5rem;
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-combination-description div {
  font-size: 1.4rem;
}
