.select-bait-dialog {
  height: -webkit-fill-available;
  padding-top: 1rem;
}

.select-bait-dialog .bait-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 100%;
}

.select-bait-dialog .bait-list .bait-list-item {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
}

.select-bait-dialog .bait-list .bait-list-item .icon {
  width: 64px;
  height: 64px;
}

.select-bait-dialog .bait-list .bait-list-item .base-image {
  scale: 0.4;
}

.select-bait-dialog .bait-list .bait-list-item .icon img {
  scale: 0.5;
}

.select-bait-dialog .bait-list .bait-list-item .label {
  width: 100px;
}

.select-bait-dialog .bait-list .bait-list-item .button {
  width: 130px;
}