.settings-dialog {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.settings-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.settings-row .left {
  width: 40%;
}

.settings-row .right {
  width: 60%;
}
